
BODY { background: purple url(bj.png); background-repeat:repeat-y; background-attachment:fixed }
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}
.unit-100 {
    width: 100%;
}
.language {
    text-align: center;
    margin: 0 auto;
    position: relative;
	padding-top: 10px;
}	
.btn2 {
    display: inline-block;
    vertical-align: top;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #5cb85c;
    margin: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    background: #eeeded;
    padding: 20px 20px;
    height: 2.3em;
}
.btn2:link {
    color: #FFFFFF;
    background: #5cb85c;
}

.btn2:visited {
    color: #FFFFFF;
    background: #5cb85c;
}

.btn2:hover {
    color: #5cb85c;
    background: #FFFFFF;
}

.btn2:active {
    color: #FFFFFF;
    background: #5cb85c;
}
.btn-outline2 {
    background: none;
    border: 3px solid #5cb85c;
    *height: 15px;
    *height: _15px;
    margin-right: 14px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.tit {
            margin: 0 auto;
            padding: 4px;
			font-size: 24px;
            text-align: center;
}
ul {
    margin: 0;
    padding: 10px 20px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}
ul li {
    padding: 4px 0;
    list-style: none;
    *line-height: 30px;
   * font-size: 16px;
    *white-space: nowrap;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.coin {
    position: fixed;
    top: -9999px;
    left: -9999px;
}


body{
    font-family: Microsoft Yahei,arial;
}
p{margin-bottom: 10px; line-height: 1.5;}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: middle;
}
img{vertical-align: middle;}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}
.entry-shang {
    padding: 5px 0 20px;
    text-align: center;
}

.entry-shang p {
    font-size: 12px;
}

.btn-bred {
    min-width: 80px;
    border-color: #006699;
    background: #006699;
    color: #fff;
}

.zs-modal-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
}

.zs-modal-box {
    width: 340px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -195px 0 0 -171px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 6px;
    display: none;
}

.zs-modal-head {
    padding: 0 16px;
    position: relative;
}

.zs-modal-head img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.zs-modal-head .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    text-align: center;
}

.zs-modal-head .author {
    padding-top: 15px;
    display: block;
}
.zs-modal-head .author a{
    color: #333;
    text-decoration: none;
}

.zs-modal-head .author img {
    margin-right: 5px;
}

.zs-modal-head .tip {
    background: #f6f6f6;
    padding: 0 10px;
    font-size: 12px;
    color: gray;
    border-radius: 3px;
    margin-top: 10px;
    position: relative;
    line-height: 28px;
    margin-bottom: 10px;
}

.zs-modal-head .tip i {
    display: block;
    border-width: 0 7px 7px 7px;
    border-color: transparent  transparent #f6f6f6 transparent;
    border-style: dashed dashed solid dashed;
    content: "";
    position: absolute;
    left: 8px;
    top: -7px;
}

.zs-modal-body {
    padding: 0 15px;
}

.zs-modal-btns {
    font-size: 0;
}

.zs-modal-btns .btn:nth-child(3n-2) {
    margin-left: 0;
}

.zs-modal-btns .btn {
    width: 28%;
    margin-left: 8%;
    margin-bottom: 24px;
    display: inline-block;
    font-size: 12px;
}

.zs-modal-btns .btn-blink {
    background: #fff;
    border-color: #e26d6d;
    color: #e26d6d;
    font-weight: bold;
}

.zs-modal-btns .btn-blink:hover, .zs-btns .btn-blink:active {
    background: rgba(226,109,109,.06);
    box-shadow: none;
}

.zs-modal-btns .btn-blink:focus {
    background: #e26d6d;
    border-color: #e26d6d;
    color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .zs-modal-body ul {
        letter-spacing: -5px;
    }
}

.zs-modal-footer {
    padding: 0 15px 15px;
}

.zs-modal-footer label {
    margin: 0 10px;
}

.zs-modal-footer img {
    height: 30px;
    min-width: 85px;
}

.zs-modal-pay {
    text-align: center;
    padding: 15px 0;
    display: none;
}
@media screen and (max-device-width:760px){.wrapper{width:95%;margin:0 auto}.cnt-t2 iframe{height:260px}}
.pc_acmsd{display:block;}
.m_acmsd{ display:none}
@media(max-width:768px) {
.pc_acmsd{display:none !important;}
.m_acmsd{display:block !important;}}


/**广告位**/
    .ad{background:#fff;overflow:hidden;clear:both;border-radius: 6px;}
    .ad a{margin:5px;display:block;border-radius:3px;}
    .ad img{max-width:100%;}
    .ad li{float:left;width:50%;list-style:none;}
    @media(max-width:999px) {
    .ad{margin: 0 0 10px 0;}
    .ad li{width:100%;}
    }
    /**新增文字广告**/
    .txtguanggao{
        width: 100%;
        overflow: hidden;
        display: block;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    }
    .txtguanggao a{
        width: calc((100% - 20px) / 4);
        float: left;
        border-radius: 2px;
        line-height: 35.35px;
        height: 35.35px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        background-color: rgb(255, 153, 159);
        margin: 2.5px;
            
        transition-duration: .3s;
    }
    .txtguanggao a:nth-child(1) {
        background-color: #dc3545;
    }
    .txtguanggao a:nth-child(2) {
        background-color: #007bff;
    }
    .txtguanggao a:nth-child(3) {
        background-color: #28a745;
    }
    .txtguanggao a:nth-child(4) {
        background-color: #0099FF;
    }
    .txtguanggao a:nth-child(5) {
        background-color: #28a745;
    }
    .txtguanggao a:nth-child(6) {
        background-color: #ffc107;
    }
    .txtguanggao a:nth-child(7) {
        background-color: #dc3545;
    }
    .txtguanggao a:nth-child(8){
        background-color: #007bff;
    }
    .txtguanggao a:hover{
    background:#FF2805;color:#FFF
    }
    @media screen and (max-width: 1000px) {
    .txtguanggao a{
       width: calc((100% - 10px) / 2);
        float: left;
        border-radius: 2px;
        line-height: 35.35px;
        height: 35.35px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        background-color: rgb(255, 153, 159);
        margin: 2.5px;
        transition-duration: .3s;
    }
    }
        @media screen and (min-width: 1000px) {
            .txtguanggao a{
            width: calc((100% - 20px) / 4);
            }}